
@{
    ViewBag.Title = "Close";
}

<h2>Goodbye!</h2>

<h4>If you want to download the new inventory, please press the "Download" button below</h4>
<br />
@Html.ActionLink("Download", "Export")  | @Html.ActionLink("Close App", "End")
