
@{
    ViewBag.Title = "Database";
}

@{ 
    Layout = "~/Views/Shared/PrevLayout.cshtml";
}
<h2>Welcome!</h2>
<h4>Please upload the file with the medicines</h4>
<p>Please ensure that you press the button "Upload" after selecting the file</p>
@using (Html.BeginForm("Index", "Medicine", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <br />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}
